######################
# Node
######################
/node/
node_tmp/
node_modules/
npm-debug.log.*
.env

######################
# Intellij
######################
.idea/
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Directories
######################
/bin/
/deploy/
/target
/build
tmp/

######################
# Logs
######################
*.log

######################
# Others
######################
*.class
*.*~
*~
.merge_file*

######################
# ESLint
######################
.eslintcache
/.idea/
